In [1]:
from scipy import stats
from statsmodels.stats.multicomp import pairwise_tukeyhsd, MultiComparison
import statsmodels.api as sm
import statsmodels.formula.api as smf
import statsmodels.stats as ss
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

import random

%matplotlib inline

c:\users\outtoin\appdata\local\programs\python\python36\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [2]:
df = pd.read_csv('./data/data.csv')
df1 = df[df['Task'] == 'A'].reset_index()
df2 = df[df['Task'] == 'C'].reset_index()

In [3]:
df1.head()

,index,Participants No.,Task,Distance,Score,Trial,No.,Task.1,Score.1,Trial.1
0,0,1,A,9.1500,0,1,1.0,B,40.0,1.0
1,1,1,A,7.5440,0,2,1.0,B,40.0,2.0
2,2,1,A,7.1500,0,3,1.0,B,39.0,3.0
3,3,1,A,6.6240,0,4,1.0,B,40.0,4.0
4,4,1,A,6.2125,0,5,1.0,B,39.0,5.0

In [4]:
df2.head()

,index,Participants No.,Task,Distance,Score,Trial,No.,Task.1,Score.1,Trial.1
0,5,1,C,7.200000,22,1,NaN,NaN,NaN,NaN
1,6,1,C,7.888000,20,2,NaN,NaN,NaN,NaN
2,7,1,C,7.332000,18,3,NaN,NaN,NaN,NaN
3,8,1,C,6.320833,16,4,NaN,NaN,NaN,NaN
4,9,1,C,7.856000,24,5,NaN,NaN,NaN,NaN

In [5]:
print('Distance, task A var %.3f', np.std(df1['Distance']))
print('Distance, task C var %.3f', np.std(df2['Distance']))

Distance, task A var %.3f 2.830693220030602
Distance, task C var %.3f 1.3200675038316725

In [6]:
tTestResult = stats.ttest_ind(df1['Distance'], df2['Distance'], equal_var=False)
print("The T-statistic and p-value between task A and C 2 not assuming equal variances is %.3f and %.3f" % tTestResult)

The T-statistic and p-value between task A and C 2 not assuming equal variances is 0.439 and 0.663

In [7]:
print('Score, task A var %.3f', np.std(df1['Score.1']))
print('Score, task C var %.3f', np.std(df2['Score']))

Score, task A var %.3f 0.771792242320511
Score, task C var %.3f 5.447687208198296

In [8]:
tTestResult = stats.ttest_ind(df1['Score.1'], df2['Score'], equal_var=False)
print("The T-statistic and p-value between task B and C 2 not assuming equal variances is %.3f and %.3f" % tTestResult)

The T-statistic and p-value between task B and C 2 not assuming equal variances is 15.987 and 0.000

In [79]:
def CronbachAlpha1(itemscores):
    itemvars = [svar(item) for item in itemscores]
    tscores = [0] * len(itemscores[0])
    for item in itemscores:
        for i in range(len(item)):
            tscores[i]+= item[i]
    nitems = len(itemscores)
    #print "total scores=", tscores, 'number of items=', nitems

    Calpha=nitems/(nitems-1.) * (1-sum(itemvars)/ svar(tscores))

    return Calpha

def CronbachAlpha(items):
    itemvars = np.var(items, axis=0)
    nitems = len(items)
    slist = np.sum(items, axis=1)
    sumvar = np.var(slist)
    varsum = np.sum(itemvars)

    Calpha = ((nitems)/(nitems-1.)) * (1-(varsum/sumvar))
    
    return Calpha

In [82]:
items = [
    [3, 5, 4, 4, 5, 2, 3],
    [4, 5, 4, 3, 5, 4, 3],
    [4, 4, 3, 2, 4, 2, 3],
    [3, 4, 4, 3, 5, 2, 3],
    [4, 5, 5, 5, 4, 4, 4],
    [4, 5, 4, 4, 4, 4, 3],
    [4, 4, 4, 4, 5, 4, 3],
    [4, 5, 4, 4, 4, 3, 4]
]
print ("Cronbach alpha = ", CronbachAlpha(items))

Cronbach alpha =  0.69248291571754

In [81]:
items = [
    [4, 5, 5, 3],
    [4, 5, 3, 5],
    [5, 5, 4, 5],
    [4, 5, 3, 3],
    [5, 5, 5, 3],
    [3, 4, 3, 3],
    [4, 5, 4, 4],
    [4, 4, 5, 4]
]
print ("Cronbach alpha = ", CronbachAlpha(items))

Cronbach alpha =  0.38294689603590126

In [23]:
(2/(2-1)) * (1-(494.92/90.25))

-8.96775623268698

In [33]:
np.var([30, 37, 32, 29, 36, 23, 26])

21.95918367346939

In [68]:
items = [
    [3, 5, 4, 4, 5, 4, 3],
    [4, 5, 4, 3, 5, 2, 3],
    [4, 4, 3, 2, 4, 4, 3],
    [3, 4, 4, 3, 5, 4, 3],
    [4, 5, 5, 5, 4, 2, 4],
    [4, 5, 4, 4, 4, 2, 3],
    [4, 4, 4, 4, 5, 2, 3],
    [4, 5, 4, 4, 4, 3, 4]
]
np.sum(items, axis=1)

array([28, 26, 24, 26, 29, 26, 26, 28])

In [77]:
np.var([28, 26, 24, 26, 29, 26, 26, 28])

2.234375

In [ ]:
4	5	5	3
4	5	3	5
5	5	4	5
4	5	3	3
5	5	5	3
3	4	3	3
4	5	4	4
4	4	5	4